#@ load("@ytt:data", "data")

#@ a = data.values.argocd
#@ e = data.values.environment

#@ app_name = a.app.prefix + (a.env.name or e.id) + "-" + a.app.name
#@ env_name = a.env.prefix + (a.env.name or e.id)
#@ project_name = a.project.name or a.project.prefix + (a.env.name or e.id)

#@ def build_sync_options(options):
#@   return [
#@     "{}={}".format(opt, options[opt])
#@     for opt in options
#@     if options[opt] is not None
#@   ]
#@ end

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: #@ app_name
  namespace: #@ a.namespace
  finalizers: #@ a.app.finalizers or []
spec:
  project: #@ project_name
  destination:
    #@ if a.app.destination.server:
    server: #@ a.app.destination.server
    #@ else:
    name: #@ a.app.destination.name or env_name
    #@ end
    namespace: #@ a.app.destination.namespace or a.app.name
  source:
    path: #@ a.app.source.path
    #@ if/end a.app.source.plugin:
    plugin: #@ a.app.source.plugin
    repoURL: #@ a.app.source.repoURL
    targetRevision: #@ a.app.source.targetRevision
  syncPolicy:
    automated:
      prune: #@ a.app.syncPolicy.prune
      selfHeal: #@ a.app.syncPolicy.selfHeal
    syncOptions: #@ build_sync_options(a.app.syncPolicy.syncOptions)
