---
name: Check Links Quickly

'on':
  push:
    branches:
      - main
    paths:
      - .github/workflows/check-links-quickly.yaml
      - docs/**.md
  pull_request:
    paths:
      - .github/workflows/check-links-quickly.yaml
      - docs/**.md

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Restore lychee cache
        id: restore-cache
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - name: Run lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          fail: true
          args: >-
            --root-dir $PWD
            --verbose
            --no-progress
            --cache
            --max-cache-age 3d
            'docs/**/*.md'

      - name: Save lychee cache
        uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        if: always()
        with:
          path: .lycheecache
          key: ${{ steps.restore-cache.outputs.cache-primary-key }}
