---
name: Check Links Quickly

'on':
  push:
    branches:
      - main
    paths:
      - .github/workflows/check-links-quickly.yaml
      - docs/**.md
  pull_request:
    paths:
      - .github/workflows/check-links-quickly.yaml
      - docs/**.md

jobs:
  linkChecker:
    runs-on: ubuntu-slim
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Restore lychee cache
        id: restore-cache
        uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - name: Run lychee
        uses: lycheeverse/lychee-action@8646ba30535128ac92d33dfc9133794bfdd9b411 # v2.8.0
        with:
          fail: true
          args: >-
            --root-dir $PWD
            --verbose
            --no-progress
            --cache
            --max-cache-age 3d
            'docs/**/*.md'

      - name: Save lychee cache
        uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        if: always()
        with:
          path: .lycheecache
          key: ${{ steps.restore-cache.outputs.cache-primary-key }}
